:root {
    --width-input-div: 450px;
    --ttt: var(--width-input-div) - 20px;
}
.navItem {
    position: fixed;
    top: 0;
    width: 100%;
    margin-top: 4px;
    margin-left: 10px;
}
.navItem>div {
    background-color: white;
}
.navItem>a, .navItem>p {
    font-family: AvenirNext-Medium;
    font-size: 14px;
    color: #000;
    text-decoration: underline;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
}
.mainTitle {
    font-family: Cochin;
    font-weight: lighter;
    font-size: 77px;
    color: #000000;
    letter-spacing: 0;
    text-align: center;
}
.quotation {
    opacity: 0.58;
    font-family: AvenirNext-Medium;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.85);
    letter-spacing: 0;
    text-align: center;
}
.inputDivFrame {
    border: 1px solid rgba(0, 0, 0, 0.3);
    width: var(--width-input-div);
    height: 48px;
    border-radius: 13px;
    margin: auto;
    display: flex;
    align-items: center;
}
.inputTextFrame {
    border: none;
    margin-left: 10px;
    height: 32px;
    font-size: 20px;
    font-family: AvenirNext-Medium;
    color: rgba(0, 0, 0, 0.60);
    width: calc(var(--width-input-div) - 60px);
    outline: none;
}
.loginButton {
    border: none;
    font-family: Futura;
    font-size: 17px;
    letter-spacing: 0;
    text-align: center;
    background-color: transparent;
}
.homeTitle {
    font-family: ChaparralPro-Bold;
    font-size: 35px;
    color: rgba(0, 0, 0, 0.9);
    letter-spacing: 0;
}
.entryInfo {
    opacity: 0.68;
    font-family: Futura-MediumItalic;
    font-size: 13px;
    color: #000000;
    letter-spacing: 0;
    text-align: left;
    margin-top: 10px;
}
.homeContent {
    font-family: AvenirNext-Regular;
    font-size: 16px;
    color: #000000;
    letter-spacing: 0;
    margin-top: 25px;
    line-height: 23px;
}