:root {
    --login-form-div-width: 450px;
    --login-form-div-height: 48px;
    --register-form-div-width: 430px;
    --view-as-guest-color: #649FD3;
}
.navItem {
    position: fixed;
    top: 0;
    width: 100%;
    margin-top: 4px;
    margin-left: 3px;
    margin-right: 3px;
}
.navItem>div {
    background-color: white;
}
.navItem a, .navItem>p {
    font-family: AvenirNext-Medium;
    font-size: 14px;
    color: #000;
    text-decoration: underline;
    text-align: center;
    background-color: rgba(255, 255, 255, 0.9);
    margin-left: 6px;
    margin-right: 6px;
}
.mainTitle {
    font-family: Cochin;
    font-weight: lighter;
    font-size: 77px;
    color: #000000;
    letter-spacing: 0;
    text-align: center;
}
.quotation {
    opacity: 0.58;
    font-family: AvenirNext-Medium;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.85);
    letter-spacing: 0;
    text-align: center;
}
.login_form_div {
    border: 1px solid rgba(0, 0, 0, 0.3);
    width: var(--login-form-div-width);
    height: 48px;
    border-radius: 13px;
    margin: auto;
    display: flex;
    align-items: center;
}
.login_form_div>input {
    border: none;
    margin-left: 10px;
    height: 32px;
    font-size: 20px;
    font-family: AvenirNext-Medium;
    color: rgba(0, 0, 0, 0.60);
    width: calc(var(--login-form-div-width) - 60px);
    outline: none;
}
.loginButton>a {
    font-family: Futura;
    font-size: 17px;
    text-decoration: none;
}
.loginButton>button {
    font-family: Futura;
    font-size: 17px;
    float: right;
    cursor: pointer;
    border: none;
    background-color: transparent;
}
.register_form_div {
    border: 1px solid rgba(0, 0, 0, 0.3);
    width: calc(var(--register-form-div-width));
    height: 40px;
    border-radius: 10px;
    margin: auto;
    display: flex;
    align-items: center;
    margin-top: 12px;
}
.register_form_div>input {
    opacity: 0.5;
    font-family: CourierNewPS;
    font-size: 20px;
    color: #000000;
    letter-spacing: 0;
    border: none;
    margin-left: 10px;
    width: calc(var(--register-form-div-width) - 30px);
    outline: none;
}
.homeTitle {
    font-family: ChaparralPro-Bold;
    font-size: 35px;
    color: rgba(0, 0, 0, 0.9);
    letter-spacing: 0;
}
.container {
    width: 65%;
    margin: auto;
    margin-top: 10%;

}
.container #title {
    font-family: ChaparralPro-Bold;
    font-size: 38px;
    color: rgba(0, 0, 0, 0.9);
    letter-spacing: 0;
}
.container #info {
    opacity: 0.68;
    font-family: Futura-MediumItalic;
    font-size: 13px;
    color: #000000;
    letter-spacing: 0;
    text-align: left;
    margin-top: 10px;
}
.container #content {
    font-family: AvenirNext-Regular;
    font-size: 16px;
    color: #000000;
    letter-spacing: 0;
    margin-top: 25px;
    line-height: 23px;
}
#guest {
    color: #649FD3;
    float: left;
}
#register {
    color: #FFC12E;
}
#login {
    color: #28CA42;
}